name: Rust CI

on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, opened]
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-tests:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup
        run: make setup-env

      - name: Checks
        run: make all-checks
